# Keycloak settings
REDIS_URL=redis://localhost:6379/0

# Telegram settings
telegram_bot__TOKEN=
telegram_bot__CHAT_ID=

# EmailClient Settings
email_client__EMAIL=
email_client__PASSWORD=
email_client__SMTP_SERVER=
email_client__PORT=

#SMSC settings
SMSC__LOGIN=
SMSC__KEY=
SMSC__SENDER=
SMSC__DEBUG=

WAZZUP__API_KEY=
WAZZUP__CHANNEL_ID=137819cc-1b5a-4063-8df4-e1a4bc1c3d9c
WAZZUP__DEBUG=

# Admin settings
keycloak__admin__SERVER_URL=
keycloak__admin__USERNAME=
keycloak__admin__PASSWORD=
keycloak__admin__REALM_NAME=
keycloak__admin__USER_REALM_NAME=master
keycloak__admin__CLIENT_ID=admin-cli

# OpenID settings
keycloak__open_id__SERVER_URL=
keycloak__open_id__REALM_NAME=
keycloak__open_id__CLIENT_ID=web-app
keycloak__open_id__CLIENT_SECRET_KEY=

# Database settings
database__URI=postgresql://postgres:postgres@127.0.0.1:5432/postgres

# Minio settings
minio__endpoint=localhost:9000
minio__bucket=gymbro
minio__access_key=minioadmin
minio__secret_key=minioadmin

# Rating app settings
rating_app__WAIT_IN_SECONDS=

# CORS settings
allowed_origins=http://localhost:3000

# FreedomPay integration settings
FREEDOM_PAY__MERCHANT_ID=
FREEDOM_PAY__SECRET=
FREEDOM_PAY__API_URL=https://api.freedompay.kz
FREEDOM_PAY__PAYMENT_PAGE=https://api.freedompay.kz/init_payment
FREEDOM_PAY__CALLBACK_URL=

# Google OAuth settings
google_oauth__CLIENT_ID=
google_oauth__CLIENT_SECRET=
google_oauth__redirect_uri=
google_oauth__frontend_redirect=

# Apple OAuth Settings
APPLE_OAUTH__CLIENT_ID=
APPLE_OAUTH__TEAM_ID=
APPLE_OAUTH__KEY_ID=
APPLE_OAUTH__PRIVATE_KEY_FILE=
APPLE_OAUTH__REDIRECT_URI=
APPLE_OAUTH__FRONTEND_REDIRECT=

CLOUDFLARE_CUSTOMER_CODE=

FIREBASE__ENABLED=
FIREBASE__CREDENTIALS_PATH=
