fastapi==0.115.6
uvicorn[standard]==0.32.1
starlette==0.41.3

pydantic==2.10.3
pydantic-settings==2.7.0

SQLAlchemy==2.0.36
alembic==1.14.0
psycopg2-binary==2.9.10

redis==5.2.1
httpx==0.28.1
requests==2.32.3
python-multipart==0.0.20
PyJWT==2.10.1
cryptography==44.0.0

python-keycloak==4.7.3
minio==7.2.12
firebase-admin==6.6.0
google-auth==2.36.0

dependency-injector==4.43.0
prometheus-client==0.21.1
pandas==2.2.3
Pillow==11.0.0
defusedxml==0.7.1
